/* Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none !important;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #242333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

/* App */
.container {
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.movie-container label {
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
}

.movie-container select {
    height: 40px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.ticket-showcase {
    padding: 0;
    margin: 20px 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.ticket-showcase li {
    margin: 0 10px;
    display: flex;
    align-items: center;
    color: #999999;
}
.seat-container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.ticket-showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.row {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.info-text {
    margin: 5px 0;
}

.info-text span {
    color: #6feaf6;
}
